.status-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-size: 12px;
  background-color: white;
}

.signal-icons {
  display: flex;
  gap: 5px;
}

.time{
  font-family: Roboto;
font-weight: 700;
font-size: 15px;
line-height: 100%;
letter-spacing: 0%;

}