.route-title {
  font-weight: bold;
  font-size: 16px;
}

.load-details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.button-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
}
.btn1 {
  --background: #00c300;
  --background-hover: #00a100;
  --background-activated: #00a100;
  --background-focused: #00a100;

  --color: #ffffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.btn2 {
  --background: #deffde;
  --background-hover: #62fc62;
  --background-activated: #54ad54;
  --background-focused: #4de64d;

  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  --color: #656565;
  width: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.description {
  font-weight: 500;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
}
.vehicle-chip-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.segment-label {
  font-family: Poppins;
  font-weight: 500 !important;
  font-size: 10px !important;
  letter-spacing: 0px !important;
  color: #000000;
  text-transform: none !important;
}

.active-segment .segment-label {
  color: #000000; /* Black for active */
}

.inactive-segment .segment-label {
  color: #a9a9a9; /* Grey for inactive */
}

.vehicle-chip {
  width: 73px;
  height: 65px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5px; */
  flex-direction: column;
  border-radius: 4px;
}

.vehicle-chip.active {
  border: 2px solid #ffd901;
  background-color: #fff;
}
.vehicle-chip-select {
  width: 38px;
  height: 38px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
}
.description {
  font-weight: 500;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 5px;
}
.vehicle-chip-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.vehicle-chip-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  /* background-color: #efefef; */
}
