:root {
  --ion-padding: 16px;
  --ion-margin: 16px;
}

.p-1\.5x { padding: calc(var(--ion-padding) * 1.5); }
.p-2x { padding: calc(var(--ion-padding) * 2); }
.p-2\.5x { padding: calc(var(--ion-padding) * 2.5); }
.p-3x { padding: calc(var(--ion-padding) * 3); }
.p-3\.5x { padding: calc(var(--ion-padding) * 3.5); }
.p-4x { padding: calc(var(--ion-padding) * 4); }

.m-1\.5x { margin: calc(var(--ion-margin) * 1.5); }
.m-2x { margin: calc(var(--ion-margin) * 2); }
.m-2\.5x { margin: calc(var(--ion-margin) * 2.5); }
.m-3x { margin: calc(var(--ion-margin) * 3); }
.m-3\.5x { margin: calc(var(--ion-margin) * 3.5); }
.m-4x { margin: calc(var(--ion-margin) * 4); }

.pt-1\.5x { padding-top: calc(var(--ion-padding) * 1.5); }
.pt-2x { padding-top: calc(var(--ion-padding) * 2); }
.pt-2\.5x { padding-top: calc(var(--ion-padding) * 2.5); }
.pt-3x { padding-top: calc(var(--ion-padding) * 3); }
.pt-3\.5x { padding-top: calc(var(--ion-padding) * 3.5); }
.pt-4x { padding-top: calc(var(--ion-padding) * 4); }

.pb-1\.5x { padding-bottom: calc(var(--ion-padding) * 1.5); }
.pb-2x { padding-bottom: calc(var(--ion-padding) * 2); }
.pb-2\.5x { padding-bottom: calc(var(--ion-padding) * 2.5); }
.pb-3x { padding-bottom: calc(var(--ion-padding) * 3); }
.pb-3\.5x { padding-bottom: calc(var(--ion-padding) * 3.5); }
.pb-4x { padding-bottom: calc(var(--ion-padding) * 4); }

.pl-1\.5x { padding-left: calc(var(--ion-padding) * 1.5); }
.pl-2x { padding-left: calc(var(--ion-padding) * 2); }
.pl-2\.5x { padding-left: calc(var(--ion-padding) * 2.5); }
.pl-3x { padding-left: calc(var(--ion-padding) * 3); }
.pl-3\.5x { padding-left: calc(var(--ion-padding) * 3.5); }
.pl-4x { padding-left: calc(var(--ion-padding) * 4); }

.pr-1\.5x { padding-right: calc(var(--ion-padding) * 1.5); }
.pr-2x { padding-right: calc(var(--ion-padding) * 2); }
.pr-2\.5x { padding-right: calc(var(--ion-padding) * 2.5); }
.pr-3x { padding-right: calc(var(--ion-padding) * 3); }
.pr-3\.5x { padding-right: calc(var(--ion-padding) * 3.5); }
.pr-4x { padding-right: calc(var(--ion-padding) * 4); }



.mt-1\.5x { margin-top: calc(var(--ion-margin) * 1.5); }
.mt-2x { margin-top: calc(var(--ion-margin) * 2); }
.mt-2\.5x { margin-top: calc(var(--ion-margin) * 2.5); }
.mt-3x { margin-top: calc(var(--ion-margin) * 3); }
.mt-3\.5x { margin-top: calc(var(--ion-margin) * 3.5); }
.mt-4x { margin-top: calc(var(--ion-margin) * 4); }

.mb-1\.5x { margin-bottom: calc(var(--ion-margin) * 1.5); } 
.mb-2x { margin-bottom: calc(var(--ion-margin) * 2); }
.mb-2\.5x { margin-bottom: calc(var(--ion-margin) * 2.5); }
.mb-3x { margin-bottom: calc(var(--ion-margin) * 3); }
.mb-3\.5x { margin-bottom: calc(var(--ion-margin) * 3.5); }
.mb-4x { margin-bottom: calc(var(--ion-margin) * 4); }

.ml-1\.5x { margin-left: calc(var(--ion-margin) * 1.5); }
.ml-2x { margin-left: calc(var(--ion-margin) * 2); }
.ml-2\.5x { margin-left: calc(var(--ion-margin) * 2.5); }
.ml-3x { margin-left: calc(var(--ion-margin) * 3); }
.ml-3\.5x { margin-left: calc(var(--ion-margin) * 3.5); }
.ml-4x { margin-left: calc(var(--ion-margin) * 4); }

.mr-1\.5x { margin-right: calc(var(--ion-margin) * 1.5); }
.mr-2x { margin-right: calc(var(--ion-margin) * 2); }
.mr-2\.5x { margin-right: calc(var(--ion-margin) * 2.5); }
.mr-3x { margin-right: calc(var(--ion-margin) * 3); }
.mr-3\.5x { margin-right: calc(var(--ion-margin) * 3.5); }
.mr-4x { margin-right: calc(var(--ion-margin) * 4); }




  #background-content{
    background:none
  }
  .load-card {
    margin: 0;
    border-radius: 8px;
  }
  
  .load-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .load-location {
    font-weight: bold;
  }
  
  .load-arrow {
    font-size: 18px;
  }